.carousel-indicators li {
    -webkit-transform: skewX(30deg);
    -moz-transform: skewX(30deg);
    -ms-transform: skewX(30deg);
    -o-transform: skewX(30deg);
    transform: skewX(30deg);
    height: 6px;
    width: 75px;
    margin-bottom: 1rem;
}

#featured-carousel {
    background-image: url("images/pattern2.png");
}

.running-car {
    position: relative;
    top: 0;
    left: 0;
    width: 659px
}

img.car {
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    transition: all 1s ease-out;
    margin-left: -660px
}

.running-car.in-view img.car {
    -webkit-transform: translate(536px, 0px) rotate(0deg);
    -moz-transform: translate(536px, 0px) rotate(0deg);
    transform: translate(536px, 0px) rotate(0deg)
}

.device-sm .running-car.in-view img.car {
    -webkit-transform: translate(500px, 0px) rotate(0deg);
    -moz-transform: translate(500px, 0px) rotate(0deg);
    transform: translate(500px, 0px) rotate(0deg)
}

.device-xs .running-car.in-view img.car {
    -webkit-transform: translate(350px, 0px) rotate(0deg);
    -moz-transform: translate(350px, 0px) rotate(0deg);
    transform: translate(350px, 0px) rotate(0deg)
}

.car {
    max-width: 100%;
}

.heading-block.hlarge h3 {
    font-size: 44px;
    line-height: 50px;
    letter-spacing: -2px
}

.heading-block h3, .heading-block h2 {
    margin-bottom: 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #333
}

.heading-block {
    margin-bottom: 50px
}

.heading-block:not(.noborder):after {
    content: '';
    display: block;
    margin-top: 30px;
    width: 40px;
    border-top: 2px solid #444
}

@media (min-width: 992px) {
    .heading-block.hlarge h3 {
        font-size: 64px;
        line-height: 56px
    }

    .running-car {
        position: absolute;
        top: 0;
        left: 0;
        width: 659px
    }
}

#commitment {
    line-height: 1.8;
    font-size: 15px;
}

.button.button-rounded {
    border-radius: 3px;
}

.button {
    display: inline-block;
    cursor: pointer;
    outline: 0;
    white-space: nowrap;
    margin: 5px;
    padding: 0 22px;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    background-color: #1abc9c;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2)
}

.button-black {
    background-color: #111;
}
.button-white {
    background-color: #f9f9f9;
}
.button-light {
    background-color: #eee;
    color: #333;
    text-shadow: none !important;
}

.button.button-border.button-light {
    border-color: #eee;
    color: #eee;
}
.button.button-border {
    border: 2px solid #444;
    background-color: transparent;
    color: #333;
    line-height: 36px;
    font-weight: 700;
    text-shadow: none;
}

#RAV4 {
    max-width: 100%;
}

.topmargin {
    margin-top: 50px !important;
}

.feature-box {
    position: relative;
    margin-top: 20px;
    padding: 0 0 0 0;
}

.feature-box h3 {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 0;
    color: #333
}

.feature-box p {
    margin: 8px 0 0;
    color: #999;
    line-height: 1.8;
}

.feature-box.fbox-plain .fbox-icon i {
    font-size: 48px;
    line-height: 1 !important;
    color: #c85e51;
}

/*Featured Cars*/
.product-slider {
}

.product-slider #carousel {
    /*border: 4px solid #1089c0; */
    margin: 0;
}

.product-slider #thumbcarousel {
    margin: 12px 0 0;
    padding: 0 45px;
}

.product-slider #thumbcarousel {
    text-align: center;
}

.product-slider #thumbcarousel .thumb {
    border: 1px solid #eee;
    width: 20%;
    margin: 0 2%;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.product-slider #thumbcarousel .thumb:hover {
    background-color: #eee;
}

.product-slider #carousel .carousel-item {
    background-image: url("demos/car/images/revslider/bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%
}

.product-slider #carousel .carousel-item img {
    width: 70%;
    height: auto;
    margin-top: 35px
}

.product-slider #thumbcarousel img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    max-width: 98px;
}

.carousel-control {
    color: #0284b8;
    text-align: center;
    text-shadow: none;
    font-size: 30px;
    width: 30px;
    height: 30px;
    line-height: 20px;
    top: 23%;
}

.carousel-control:hover, .carousel-control:focus, .carousel-control:active {
    color: #333;
}

.carousel-caption, .carousel-control .fa {
    font: normal normal normal 30px/26px FontAwesome;
}

.carousel-control {
    background-color: rgba(0, 0, 0, 0);
    bottom: auto;
    font-size: 20px;
    left: 0;
    position: absolute;
    top: 30%;
    width: auto;
}

.carousel-control.right, .carousel-control.left {
    background: rgba(0, 0, 0, 0) none;
}

#car-model {
    background-image: url("demos/car/images/1.jpg");
}

.dark .heading-block:not(.not-dark) h3{
    color: #ffffff;
}
.dark .heading-block:not(.not-dark) div{
    color: #eeeeee;
}

.button:not(.button-white):not(.button-dark):not(.button-border):not(.button-black):not(.button-red):not(.button-teal):not(.button-yellow):not(.button-green):not(.button-brown):not(.button-aqua):not(.button-purple):not(.button-leaf):not(.button-pink):not(.button-blue):not(.button-dirtygreen):not(.button-amber):not(.button-lime){
  background-color: #c85e51;
  border-radius: 3px
}

section.dark {
  background-color: #282828;
  border-color: rgba(255,255,255,.1);
}
.dark {
  color: #eeeeee;
}

section.counter-section{
  padding: 60px 0;
}

.counter-section [class^=col-] {
border-left: none;
margin-bottom: 30px;
}
.dark .i-plain {
color: #fff;
text-shadow: 1px 1px 1px rgba(0,0,0,.2);
}
.i-large.i-plain {
width: 48px !important;
height: 48px !important;
font-size: 42px;
line-height: 48px !important;
}
.color {
  color: #c85e51 !important;
}

.dark .counter {
text-shadow: 1px 1px 1px rgba(0,0,0,.1);
}
.counter {
font-size: 42px;
font-weight: 600;
}

@media (min-width: 992px) {
    [class^=col-]:not(:first-child) {
        border-left: 1px solid rgba(255, 255, 255, .05);
        margin-bottom: 0;
    }
}

.col_one_fourth{
    float: left;
    width: 25%;
}

.widget:first-child {
    margin-top: 0;
}
.widget {
   margin-top: 50px;
}

.dark .widget h4 {
    color: #ddd;
    margin-bottom: 25px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.widget_links ul{
    margin-top: -4% !important;
    list-style: none;
    padding: 0;
}
.widget_links li a{
    color: #555 !important;
    font-size: 13px;
    font-weight: 400;
    padding: 1px 4px 4px 0px;
}

.col_last{
    margin-right: 0 !important;
    float: right;
    text-align:right;
}

.i-xlarge.i-plain {
    width: 64px !important;
    height: 64px !important;
    font-size: 56px;
    line-height: 64px !important;
}

.carousel-overlay {
    /*transition: .5s ease;*/
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.dark.carousel-overlay h2 {
    color: #eee;
    text-shadow: 1px 1px 1px rgba(0,0,0,.15);
    letter-spacing: 0;
    font-size: 43px;
    line-height: 1.3;
    margin-bottom: 10px;
}

.viewer {
    cursor: grab;
}
.viewer:active {
    cursor: grabbing;
}

.lds-grid {
    display: inline-block;
    position: absolute;
    width: 64px;
    height: 64px;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
}
.lds-grid div {
    position: absolute;
    width: 15px;
    height: 15px;
    margin: 2px;
    border-radius: 50%;
    background: #fff;
    animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
    top: 6px;
    left: 6px;
    animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
    top: 6px;
    left: 26px;
    animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
    top: 6px;
    left: 45px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
    top: 26px;
    left: 6px;
    animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
    top: 26px;
    left: 26px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
    top: 26px;
    left: 45px;
    animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
    top: 45px;
    left: 6px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
    top: 45px;
    left: 26px;
    animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
    top: 45px;
    left: 45px;
    animation-delay: -1.6s;
}
@keyframes lds-grid {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}